:root {
    --secondary-bg-color: var(--tg-theme-secondary-bg-color);
    --bg-color: var(--tg-theme-bg-color);
    --link-color: var(--tg-theme-link-color);
    --button-text-color: var(--tg-theme-button-text-color);
    --button-color: var(--tg-theme-button-color);
    --hint-color: var(--tg-theme-hint-color);

    /* --secondary-bg-color: #49515C;
    --bg-color: #e8e2ca;
    --link-color: #358ABA;
    --button-text-color: #eff1f1;
    --button-color: #256EA2;
    --hint-color: #8a939e; */

    --btn-bg-color: #728788;
    --text-light-color: #F0EBED;
    --text-mini: #2DD881;
    --item-bg: #121f23;
}

.currency-list-select {
    padding: 2px;
    position: absolute;
    width: '30vw'; 
    display: 'flex'; 
    justify-content: 'flex-start';
    background-color: var(--item-bg);
    border: var(--text-light-color) solid 0.5px
}

.text-dark-color {
    color: var(--btn-bg-color);
}

select {
	appearance: none;
}

.trade-menu-container {
    background-color: var(--btn-bg-color);
    border-radius: 14px;
    padding: 10px;
}



.bg-input {
    background-color: var(--button-color);
    color: var(--btn-bg-color);
    /* color: 'red'; */
    border: none;
    outline: none;
}

.title-myorders {
    color: var(--btn-bg-color);
}



.trade-menu-plus-col {
    color: var(--link-color);
    width: 10vw;
}

.trade-menu-text-col {
    color: var(--button-text-color);
    width: 65vw;
    text-align: left;
}

.button-trade-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.button-trade-menu:hover  {
    font-weight: bold ;
}

.button-currency-settings {
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.button-currency-settings:hover  {
    /* font-weight: bold ; */
}



.divider {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
    height: 0.5px;
    background-color: var(--item-bg);
}

.divider-currency {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 0.5px;
    background-color: var(--bg-color);
}

.divider-test-order {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 0.5px;
    width: 88vw;
    margin-left: -10px;
    background-color: var(--bg-color);
}

.m-m-10 {
    margin-right: -10px;
}

.trade-menu-arrow-col {
    color: var(--button-text-color);
    width: 5vw;
}

.trade-menu-user-col {
    color: var(--link-color);
    width: 10vw;
}

.currency-settings-container {
    background-color: var(--btn-bg-color);
    position: relative;
    border-radius: 10px;
    padding: 10px;
}

.currency-settings-item-col1 {
    color: var(--text-light-color);
    display: flex;
    justify-content:flex-start;
    width: 50vw;
    font-size: 16px;
}

.currency-settings-item-col2 {
    color: var(--text-light-color);
    display: flex;
    justify-content:flex-end;
    width: 35vw;
    height: 25px;
    font-size: 14px;
}

.method-pay-col2 {
    color: var(--text-light-color);
    display: flex;
    justify-content:flex-end;
    width: 30vw;
}

.t-left-align {
    text-align: left;
}

.mini-info {
    font-size: 12px;
    color: var(--text-mini)
}

.time-limit {
    /* top: 12px;
    right: 10vw;;
    position: absolute; */
    background-color: var(--item-bg);
    border-radius: 5px;
    padding: 5px;
}

.button-next {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.method-pay-text {
    text-align: left;
}

.method-name-col {
    text-align: left;
    width: 70vw;
    color: var(--button-text-color);
}

.test-order-container {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 10px;
}

.test-order-col1 {
    width: 60vw;
}

.test-order-col2 {
    width: 25vw;
}

.test-order-price {
    text-align: left;
    font-size: 20px;
    color: var(--button-text-color);
}

.test-order-text {
    text-align: left;
    font-size: 10px;
    color: var(--button-text-color);
}

.test-order-buy {
    font-size: 15px;
    padding: 5px;
    color: var(--hint-color);
    background-color: var(--bg-color);
    border-radius: 10px;
}

.test-order-info-col {
    color: var(--button-text-color);
    justify-content:start;
    width: 40vw;
}

p {
    width: fit-content;
}

.selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/
    
    float: left;
    min-width: 200px;
    margin: 50px 33%;
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }

  .select-currency {
    border: none;
    background: none;
    color:  var(--text-light-color);
    font-size: 14;
    margin-top: 3;
    /* border: '0.5px solid grey'; */
    border-radius: 5;
    width: 'fit-content';
    text-align: left;
  }

  .ptp-container {
    background-image: url('../../static/images/salut.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 100vh;
  }

  .salute-text1 {
    color: var(--button-text-color);
    font-size: 20px;
    font-weight: bold;
  }

  .salute-text2 {
    color: var(--button-text-color);
    font-size: 15px;
  }

  .salute-container {
    padding-top: 30vh;
  }

  .deal-item {
    background-color: var(--hint-color);
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  ::placeholder {
    color: var(--text-light-color);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--text-light-color);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--text-light-color);
  }

 

