:root {
    --secondary-bg-color: var(--tg-theme-secondary-bg-color);
    --bg-color: var(--tg-theme-bg-color);
    --link-color: var(--tg-theme-link-color);
    --button-text-color: var(--tg-theme-button-text-color);
    --button-color: var(--tg-theme-button-color);
    --hint-color: var(--tg-theme-hint-color);

    /* --secondary-bg-color: #49515C;
    --bg-color: #e8e2ca;
    --link-color: #358ABA;
    --button-text-color: #eff1f1;
    --button-color: #256EA2;
    --hint-color: #8a939e; */
}

.trade-menu-container {
    background-color: var(--secondary-bg-color);
    /* background-color: #49515C; */
    border-radius: 5px;
    padding: 10px;
}

.currency-settings-container {
    background-color: var(--secondary-bg-color);
    position: relative;
    border-radius: 5px;
    padding: 10px;
}



.trade-menu-plus-col {
    color: var(--link-color);
    width: 10vw;
}

.trade-menu-text-col {
    color: var(--link-color);
    width: 65vw;
    text-align: left;
}

.button-trade-menu {
    cursor: pointer;
}

.button-trade-menu:hover  {
    font-weight: bold ;
}

.divider {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
    height: 1px;
    background-color: var(--link-color);
}

.divider-currency {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 0.5px;
    background-color: var(--bg-color);
}

.divider-test-order {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 0.5px;
    width: 88vw;
    margin-left: -10px;
    background-color: var(--bg-color);
}

.m-m-10 {
    margin-right: -10px;
}

.trade-menu-arrow-col {
    color: var(--link-color);
    width: 10vw;
}

.trade-menu-user-col {
    color: var(--link-color);
    width: 10vw;
}

.currency-settings-item-col1 {
    color: var(--button-text-color);
    display: flex;
    justify-content:flex-start;
    width: 40vw;
    font-size: 10px;
}

.currency-settings-item-col2 {
    color: var(--link-color);
    display: flex;
    justify-content:flex-end;
    width: 40vw;
    font-size: 10px;
}

.method-pay-col2 {
    color: var(--button-text-color);
    display: flex;
    justify-content:flex-end;
    width: 40vw;
}

.t-left-align {
    text-align: left;
}

.mini-info {
    font-size: 8px;
}

.time-limit {
    top: 5px;
    right: 10vw;;
    position: absolute;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    padding: 5px;
}

.button-next {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 5px;
}

.method-pay-text {
    text-align: left;
}

.method-name-col {
    text-align: left;
    width: 60vw;
    color: var(--button-text-color);
}

.test-order-container {
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    padding: 10px;
}

.test-order-col1 {
    width: 60vw;
}

.test-order-col2 {
    width: 25vw;
}

.test-order-price {
    text-align: left;
    font-size: 20px;
    color: var(--button-text-color);
}

.test-order-text {
    text-align: left;
    font-size: 10px;
    color: var(--button-text-color);
}

.test-order-buy {
    font-size: 15px;
    padding: 5px;
    color: var(--hint-color);
    background-color: var(--bg-color);
    border-radius: 10px;
}

.test-order-info-col {
    color: var(--button-text-color);
    justify-content:start;
    width: 40vw;
}

p {
    width: fit-content;
}

