.chat-container {
    padding: 10px;
    
}

.modal-send {
    position: absolute;
    top: 10vh;
    left: calc(50% - 70vw/2 - 1px);
    width: 70vw;
    /* height: 45vh; */
    background-color: #FFFFFF;
    z-index: 10;
    border-radius: 10px;
    padding-bottom: 10px;
}

.img-send {
    margin: 10px;
    max-width: 65vw;
    max-height: 30vh;
    border-radius: 7px;
}

.message-img {
    max-width: 50vw;
    max-height: 50vw;
    border-radius: 7px;
}

.message-input {
    background-color: var(--item-bg);
    caret-color: var(--text-mini);
    color: var(--text-light-color);
    /* color: 'red'; */
    border: none;
    outline: none;
    text-align: left;
    font-size: 15px;
    width: 70%;
    padding: 7px;
    border-radius: 10px;
    /* margin: 10px; */
    resize: none;
}

.btn-send {
    width: 20%;
    color: var(--text-light-color);
    border-radius: 10px;
    background-color: var(--item-bg);
    padding: 5px;
}

.btn-send-file {
    width: 60%;
    color: var(--text-light-color);
    border-radius: 10px;
    background-color: var(--item-bg);
    padding: 5px;
}

.file-upload {
    width: 5%;
}

.file-upload>input {
    display: none;
}

.container-messages {
    border-radius: 10px;
    background-color: var(--item-bg);
    padding: 5px;
    min-height: 60px;
    max-height: 80vh;
    overflow: scroll;
}

.msg-chat {
    text-align: left;
    color: var(--text-light-color);
}

.sender-msg-chat {
    text-align: left;
    color: var(--btn-bg-color);
}

.msg-chat-recipient {
    text-align: right;
    color: var(--text-light-color);
}

.recipient-msg-chat {
    text-align: right;
    color: var(--btn-bg-color);
}

.container-message-item {
    border-radius: 10px;
    background-color:black;
    width: fit-content;
}