.address-container {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.address-text {
    width: 60vw;
    word-break: break-all;
    color: var(--text-light-color)
}

.label-address {
    color: var(--text-light-color)
}

.address-copy-button {
    margin-top: 10vh;
    color: var(--button-text-color);
    background-color: var(--btn-bg-color);
    border-radius: 20px;
    padding: 10px;
    color: aliceblue;
}

.left-1 {
    left: 20px;
}

.w-60 {
    width: 60vw;
}