.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 25vw;
    height: 12vw;
    /* background-color: var(--tg-theme-button-color); */
    /* background-color: #256EA2; */
    /* color: var(--tg-theme-button-text-color); */
    /* color: var(--text-light-color); */
    background-color: var(--btn-bg-color);
    /* border: 1px solid black; */
    border-radius: 18px;
    cursor: pointer;
}

.button-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 25vw;
    height: 12vw;
    cursor: pointer;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
}

.menu-button-svg-container {
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-bg-color);
    /* background-color: #E4BB2D; */
    border-radius: 4vw;
}

.menu-button-svg-container-p {
    display: flex;
    justify-content: center;
}

.button-menu-text {
    /* color: #E4BB2D; */
    color: var(--text-light-color);
    font-size: 12px;
    font-weight: 500;
    /* width: 10vw; */
}

.balance-main {
    /* height: 10vh; */
    color: aliceblue;
    font-size: 41px;
    font-weight:700;
    margin-top: 40px;
}

.bottom-balance {
    margin-bottom: 30px;
    color: var(--text-mini);
}

.bottom-info {
    color: var(--text-mini);
    font-size: 12px;
    /* text-align:right; */
}

.wallet-item {
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* height: 50px; */
    padding: 10px;
    width: 90vw;
    background-color: var(--item-bg);
    border-radius: 10px;
    /* margin-right: 10px; */
}

.container-deal {
    background-color: var(--item-bg);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px;
}

.wallet-item-container {
    display: flex;
    justify-content: center;
}

.wallet-item-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--btn-bg-color); */
    border-radius: 17px;
    width: 40px;
    height: 40px;
    padding: 0;
}

.wallet-item-info {
    width: 30vw;
    color: var(--btn-bg-color)
}

.wallet-item-info2 {
    /* text-align: right; */
    width: 30vw;
    color: var(--btn-bg-color)
}

.label-deal {
    font-size: 14px;
    color: var(--btn-bg-color)
}

.text-deal {
    text-align: left;
    color: var(--text-light-color);
    font-size: 16px;
}

.deal-col-1 {
    width: 40%;
}

.deal-col-2 {
    width: 60%;
}

