.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 25vw;
    height: 16vw;
    /* background-color: var(--tg-theme-button-color); */
    /* background-color: #256EA2; */
    /* color: var(--tg-theme-button-text-color); */
    /* color: var(--text-light-color); */
    /* background-color: var(--btn-bg-color); */

    background: rgba(134, 239, 172, 0.08);
    backdrop-filter: blur(2px);

    /* border: 1px solid black; */
    border-radius: 18px;
    cursor: pointer;
}

.button-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 25vw;
    height: 12vw;
    cursor: pointer;
}

.text-button-menu {
    margin-top: 12px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;
}

.text-token-manage {
    margin-top: 58px;
    text-align: left;
    width: 335px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #B4B4B4;
}

.container-buttons {
    position: absolute;
    top: -45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: -45px;
    width: 335px;
    height: 90px;

    background: #141414;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.menu-button-svg-container {
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--btn-bg-color); */
    /* background-color: #E4BB2D; */
    /* border-radius: 4vw; */
}

.menu-button-svg-container-p {
    display: flex;
    justify-content: center;
}

.button-menu-text {
    /* color: #E4BB2D; */
    color: var(--text-color);
    font-weight: 500;
    font-family: 'Inter';
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    backdrop-filter: none;
}

.title-balance {
    width: 335px;
}

.balance-main {
    margin-top: 54px;
    /* height: 10vh; */
    color: #FFFFFF;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 638;
    font-size: 45px;
    line-height: 53px;
    /* display: flex;
    align-items: flex-end; */
    text-align: center;
}

.balance-main-sign {
    /* height: 10vh; */
    /* color: #B4B4B4; */
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 638;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */

    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.015em;

    color: rgba(255, 255, 255, 0.7);
    font-stretch: 100;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    /* display: flex;
    align-items: flex-end; */
    text-align: center;
}



.balance-label {
    width: 50%;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 0;
    text-align: left;

    color: #86EFAC;
}

.bottom-balance {
    /* margin-bottom: 30px; */
    color: var(--text-label-color);
    width: 45%;
    padding: 0;

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align:right;

    color: #86EFAC;
    font-stretch: 151;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 32;

    
}

.divider-v {
    left: 60px;
    position: absolute;
    width: 90px;
    height: 0px;

    border: 1px solid rgba(255, 255, 255, 0.06);
    transform: rotate(90deg);
}

.divider-v2 {
    left: 180px;
    position: absolute;
    width: 90px;
    height: 0px;

    border: 1px solid rgba(255, 255, 255, 0.06);
    transform: rotate(90deg);
}

.mt-30 {
    margin-top: 33px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-21 {
    margin-top: 21px;
}

.bottom-balance-percent {
    margin-left: 10px;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 4px;

    width: 58px;
    height: 32px;

    background: #64B782;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px;

    /* Inside auto layout */

    /* flex: none;
    order: 1;
    flex-grow: 0; */

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;

    color: #000000;
    font-stretch: 151;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 32;
}

.token-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.token-balance-text2 {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
    font-stretch: 100;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

.token-balance-text {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #B4B4B4;
}

.bottom-info {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #86EFAC;
}

.wallet-item {
    /* display: flex; */
    align-items: center;
    /* justify-content:space-between; */
    padding: 15px 18px;
    /* gap: 113px; */
    width: 335px;
    height: 70px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.devider-item {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    /* height: 50px; */
    padding: 10px;
    width: 90vw;
    /* background-color: var(--item-bg); */
    /* border-radius: 10px; */
    /* margin-right: 10px; */
}

.container-deal {
    background-color: var(--item-bg);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px;
}

.wallet-item-container {
    display: flex;
    justify-content: center;
}

.divider-token {
    width: 260px;
    height: 0px;
    margin-right: 10px;
    border: 1px solid rgba(134, 239, 172, 0.1);
}

.wallet-item-svg-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--btn-bg-color); */
    border-radius: 17px;
    width: 38px;
    height: 38px;
    padding: 0;
}

.wallet-item-info {
    margin-left: 12px;
    width: 73px;
    color: var(--btn-bg-color)
}

.wallet-item-info2 {
    margin-left: 110px;
    /* text-align: right; */
    width: 51px;
    color: var(--btn-bg-color)
}

.label-deal {
    font-size: 14px;
    color: var(--btn-bg-color)
}

.text-deal {
    text-align: left;
    color: var(--text-light-color);
    font-size: 16px;
}

.text-deal-r {
    text-align: right;
    color: var(--text-light-color);
    font-size: 16px;
}

.deal-col-1 {
    width: 40%;
}

.deal-col-2 {
    width: 60%;
}

.home-container-balance {
    background: linear-gradient(180deg, rgba(134, 239, 172, 0) 6.61%, rgba(134, 239, 172, 0.279895) 44.03%, #86EFAC 100%);
    border-radius: 10px;
    height: 230px;
}

