.market-container {
    padding: 20px;
    
}

.order-item {
    background-color: var(--item-bg);
    color: var(--text-light-color);
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

.order-price {
    font-size: 25px;
    width: 50vw;
    text-align:left;
    margin-left: 10px;
}

.order-buy {
    font-size:medium;
    width: 30vw;
    background-color: var(--btn-bg-color3);
    color: var(--text-light-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-request {
    font-size:medium;
    width: 30vw;
    background-color: var(--link-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:crimson;
}

.divider-order {
    height: 0.5px;
    background-color: var(--bg-color);
}

.order-label {
    margin-left: 10px;
    font-size: 12px;
    width: 40vw;
    text-align:left;
}

.order-user-name {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 40vw;
    text-align:left;
}

.order-info {
    margin-left: 10px;
    font-size: 12px;
    width: 40vw;
    text-align:center;
}

.bg-order-input {
    background-color:black;
    color: var(--text-light-color);
    /* color: 'red'; */
    border: none;
    outline: none;
    width: fit-content;
    font-size: 25px;
}

.title-buy {
    color: var(--btn-bg-color);
    font-size: 22px;
}

.screen-buy-container {
    /* background-color: var(--button-text-color); */
    color: var(--text-light-color);

}

.methods-pay {
    /* background-color: var(--button-color); */
    border-radius: 10px;
}

.buy-label {
    margin-left: 10px;
    color: var(--button-text-color);
    width: 40vw;
    text-align: left;
}

.buy-info {
    color: var(--button-text-color);
    width: 40vw;
    text-align: right;
}

.deal-info-container {
    background-color: var(--item-bg);
    border-radius: 16px;
    padding: 5px;
    color: var(--text-light-color);
}

.select-currency {
    padding: 5px;
    border: none;
    background: none;
    color:  var(--text-light-color);
    font-size: 12;
    margin-top: 3;
    /* border: '0.5px solid grey'; */
    border-radius: 5;
    width: 100%;
    text-align: center;
  }

.filter-item {
    width: 30%;
}

.simple-btn {
    color:  var(--text-light-color);
    cursor: pointer;
}