.select-buy-sale {
    border: 2px solid var(--btn-bg-color);
    border-radius: 10px;
}

.select-buy-sale-item {
    width: 50%;
}
 
.is_select {
    background-color: #000;
    border-radius: 10px;
}

.limit {
    width: 40%;
}

.method-order-text1 {
    text-align: left;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */

    letter-spacing: 0.085em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.method-switch {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    width: 60px;
    border: 1px solid #B1B1B1;
    border-radius: 21px;
}

.method-switch-circle {
    width: 23px;
    height: 23px;

    background: #86EFAC;
    border-radius: 100px;
}

.method-switch-off {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    width: 60px;
    /* border: 1px solid #B1B1B1; */
    border-radius: 21px;
    background: #3D3D3F;
}

.method-switch-off-circle {
    width: 23px;
    height: 23px;

    background: #8E8E93;
    border-radius: 100px;
}

.method-order-text2 {
    text-align: left;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */

    letter-spacing: 0.085em;
    text-transform: uppercase;

    color: #9C9595;
}

.col-50 {
    width: 50%;
}

.comment-input {
    background-color: var(--item-bg);
    caret-color: var(--text-mini);
    color: var(--text-light-color);
    /* color: 'red'; */
    border: none;
    outline: none;
    text-align: left;
    font-size: 15px;
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    /* margin: 10px; */
    resize: none;
}

.currency-settings-item-col2m {
    color: var(--text-light-color);
    display: flex;
    justify-content:center;
    width: 50%;
    height: 25px;
    font-size: 14px;
}