.send-container {
    color: 'white';
    padding: 15px; 
}

.title-send {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    color: var(--text-light-color)
}

.title-from {
    color: var(--btn-bg-color);
    text-align:left;
    font-size: 14px;
}

.address-item {
    background-color: var(--item-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}

.confirm-data {
    background-color: var(--item-bg);
    border-radius: 16px;
}

.trs-wait {
    background-color: var(--item-bg);
    border-radius: 16px;
}

.trs-text-block {
    text-align: left;
    width: 60vw;
}

.trs-wait-logo {
    width: 20vw;
}

.trs-text-1 {
    color: var(--text-light-color);
    text-align:left;
    font-size: 16px;
    font-weight: 600;
}

.trs-text-2 {
    color: var(--btn-bg-color);
    text-align:left;
    font-size: 12px;
    font-weight: 400;
}

.address-item-col1 {
    padding: 10px;
    width: 70vw;
    /* display: flex;
    align-items: center; */
}

.address-item-col2 {
    text-align: center;
    width: 10vw;
    margin-right: 20px;
}

.address-circle {
    background-color: var(--btn-bg-color);
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.svg-circle {
    display: flex;
    align-items: center;
    padding: 0;
    height: 50px;
    width: 50px;
}

.address-text {
    width: 50%;
    display: flex;
    align-items: center;
}

.send-q-input {
    background-color: #000000;
    caret-color: var(--text-mini);
    color: var(--text-light-color);
    /* color: 'red'; */
    border: none;
    outline: none;
    text-align: right;
    font-size: 30px;
}

.address-to-input {
    background-color: var(--item-bg);
    caret-color: var(--text-mini);
    color: var(--text-light-color);
    /* color: 'red'; */
    border: none;
    outline: none;
    text-align: left;
    font-size: 15px;
    width: 100%;
}

.txt-r {
    color: var(--btn-bg-color);
    text-align: right;
}

.txt-l {
    color: var(--btn-bg-color);
    text-align: left;
}

.txt-r-w {
    color: var(--text-light-color);
    text-align: right;
    font-weight: 500;
}

.txt-l-w {
    color: var(--text-light-color);
    text-align: left;
    font-weight: 500;
}

.send-divider { 
    height: 0px;

    border-bottom: 0.5px solid var(--btn-bg-color);
    /* transform: matrix(1, 0, 0, 1, 0, 0); */
    margin-left: 15px;
    margin-right: 15px;
}

